# env config
.env

# data
/Users/saksham/Projects/Langchain-test/data/raw/sample_data/30_pages_struct.pdf
/Users/saksham/Projects/Langchain-test/data/raw/sample_data/new-solution-to-the-midas-touch-problem-identification-of-visual-commands-via-extraction-of-focal-fixations.pdf